# Ignore everything
*

# But not Java files...
!.gitignore
!*.java
!README.md
!LICENSE
!gradlew.bat
!gradlew
!build.gradle.kts
!.travis.yml
!settings.gradle
!checkstyle.xml
!.codeclimate.yml
!prof-stage3/*
!prof-stage4/*
!prof-stage5/*
!prof-stage6/*

# ...even if they are in subdirectories
!*/
